<CascadingAuthenticationState>
	<MudThemeProvider Theme="MyTheme" />
	<MudDialogProvider />
	<MudSnackbarProvider />
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

@code{
	MudTheme MyTheme = new MudTheme()
	{
		Palette = new Palette()
		{
			Primary = Colors.Purple.Default,
			Secondary = Colors.Grey.Darken1,
			AppbarBackground = Colors.Grey.Darken3,
			Tertiary = Colors.Grey.Darken4,
			Background = Colors.Grey.Darken3,
			TextPrimary = Colors.Shades.Black,
			DrawerBackground = Colors.Grey.Darken1,
			TextSecondary = Colors.Grey.Darken2,
			BackgroundGrey = Colors.Grey.Darken2
		},

		LayoutProperties = new LayoutProperties()
		{
			DrawerWidthLeft = "260px",
			DrawerWidthRight = "300px"
		}
	};
}
