@inherits LayoutComponentBase
@using NewShop.Model
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject NewShop.Service.CartHandler.ICartHandlerService CartHandler


<div class="page">
	@*<div class="sidebar">
			<NavMenu />
		</div>*@



	<div class="main">
		<MudPopover Open="@_isOpen" Class="px-4 pt-4" Style="position: absolute; right: 0; max-width: 30%; margin-top: 40px; height: 500px;">
			<div class="d-flex flex-column" style="padding: 20px;">
				<NewShop.Components.Cart />
			</div>
		</MudPopover>

		<MudAppBar Color="Color.Tertiary">
			<MudText @onclick="@(() => NavigationManager.NavigateTo(""))" Typo="Typo.h2" Color="Color.Primary">Game shop</MudText>
			<MudAppBarSpacer />
			<AuthorizeView Roles="Customer">
				<Authorized>
					<MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.VideoLibrary" OnClick="@(() => { CartHandler.CloseCart(); NavigationManager.NavigateTo("/library"); })" />
				</Authorized>
			</AuthorizeView>
			<AuthorizeView Roles="Developer">
				<Authorized>
					<MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.VideoLibrary" OnClick="@(() => { CartHandler.CloseCart(); NavigationManager.NavigateTo("/library"); })" />
				</Authorized>
				<NotAuthorized>
					<MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.ShoppingCart" OnClick="ToggleOpen"></MudIconButton>
				</NotAuthorized>
			</AuthorizeView>
			<LoginDisplay />
		</MudAppBar>

		@*<div class="top-row px-4 auth">
				<LoginDisplay />
			</div>*@

		<MudMainContent Class="pt-16">
			<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
				@Body
			</MudContainer>
		</MudMainContent>
	</div>
</div>

@code{
	private string cart = "";

	public bool _isOpen;

	public void ToggleOpen()
	{
		if (_isOpen)
			_isOpen = false;
		else
			_isOpen = true;
	}

	protected override void OnInitialized()
	{
		CartHandler.CartCloseEvent += () => { if (_isOpen) ToggleOpen(); };

	}
}